<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}" aria-label="Home">
      <img
        class="home-icon js-home-icon"
        src="{{"/img/home_icon.png" | relative_url }}"
        data-icon-dark="{{"/img/home_icon_dark.png" | relative_url }}"
        data-icon-light="{{"/img/home_icon_light.png" | relative_url }}"
        alt="Home"
      />
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Welcome</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{"/" | relative_url }}" id="aboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
          <div class="dropdown-menu" aria-labelledby="aboutDropdown">
            <a class="dropdown-item" href="{{"/#welcome" | relative_url }}">Who We Are</a>
            <a class="dropdown-item" href="{{"/#about" | relative_url }}">About the Commission</a>
            <a class="dropdown-item" href="{{"/#newsletter" | relative_url }}">Stay in Touch</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{"/about-details/" | relative_url }}">More...</a>
          </div>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="{{ "/meetings" | relative_url }}">Meetings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/posts" | relative_url }}">Updates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/resources" | relative_url }}">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
