<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" aria-label="Primary navigation">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}" aria-label="Home">
      <img
        class="home-icon js-home-icon"
        src="{{"/img/home_icon_dark.png" | relative_url }}"
        data-icon-dark="{{"/img/home_icon_dark.png" | relative_url }}"
        data-icon-light="{{"/img/home_icon_light.png" | relative_url }}"
        alt=""
      />
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/about/" | relative_url }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/faq/" | relative_url }}">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/updates/" | relative_url }}">Updates</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="{{"/resources/" | relative_url }}">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/get-involved/" | relative_url }}">Get Involved</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="{{"/get-help/" | relative_url }}">Get Help</a>
        </li>
        <!-- <li class="nav-item nav-item-cta">
          <a class="nav-link nav-link-cta" href="{{"/file-complaint/" | relative_url }}">File a Complaint</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
