<!-- About Section -->
<section id="newsletter" class="no-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Stay in touch!</h2>
                <hr class="primary" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p class="text-muted">
                    TODO: Words about the newsletter.
                </p>
                <p class="text-muted">
                    TODO: Add newsletter sign-up form here.
                </p>
            </div>
        </div>
    </div>
</section>
